.container.notes-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: 80vh;
    width: 100%;
    overflow: scroll;
    padding-block: 40px;
}

/* Create Note Modal */
dialog.create-note-modal
{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 500px;
    width: 400px;
    padding: 40px;
    transition: top .3s ease-in;
    overflow: hidden;

    &[open]
    {
        top: 50%;
        transition: top .3s ease-in;
    }

    &::backdrop
    {
        backdrop-filter: blur(10px);
        transition: backdrop-filter .3s ease-in;
    }

    & form
    {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 60px;
        height: 100%;

        & div
        {
            font-family: inherit;
            display: inherit;
            flex-direction: inherit;
            gap: 10px;
        }

        & input
        {
            border: 1.5px solid #000;
            padding: 10px;
        }
        
        & input,
        & textarea
        {
            font-family: inherit;
            transition: box-shadow .15s ease-in;

            &:focus
            {
                box-shadow: inset var(--box-shadow);
                transition: box-shadow .15s ease-in;
            }
        }

        & textarea
        {
            height: 150px;
            border: 1.5px solid #000;
            text-indent: 10px;
            padding-top: 10px;
            
        }

        & .submit-create-note-btn
        {
            font-family: inherit;
            color: #fff;
            background-color: #000;
            padding: 10px;
            font-size: 17px;
            margin-top: -20px;
            box-shadow: var(--box-shadow);
            cursor: pointer;
        }
    }
}

/* Create Note Modal Button */
.open-create-note-popover-modal-btn
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    font-size: 25px;
    border-radius: calc(var(--base-border-radius) * 5);
    color: #fff;
    background-color: darkblue;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: background .15s ease-in;
}

/* Delete Note Modal */
.delete-note-modal
{
    display: grid;
    text-align: center;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 250px;
    box-shadow: var(--box-shadow);

    &[open]
    {
        top: 50%;
    }

    &::backdrop
    {
        backdrop-filter: blur(10px) !important;
        transition: backdrop-filter .3s ease-in;
    }
    
    & .delete-note-modal-close-btn
    {
        position: absolute;
        top: 20px;
        right: 20px;

        & i
        {
            font-size: 15px;
        }
    }
    
    & p
    {
        position: relative;
        top: 75%;
    }
    
    
    
    & .delete-note-modal-buttons-container
    {
        display: flex;
        justify-content: space-around;
        align-self: end;
        padding-bottom: 40px;
        padding-inline: 100px;
        gap: 20px;

        & .btn
        {
            font-family: inherit;
            font-size: 15px;
            padding: 5px 15px;
            width: fit-content;
            min-width: 100px;
            transition: opacity .15s ease-in;
        }

        & .btn:hover
        {
            opacity: .85;
            transition: opacity .15s ease-in;
        }

        & .btn:active
        {
            transform: scale(.98);
        }
        
        & .cancel-deletion-btn
        {
            color: #000;
            background-color: greenyellow;
        }

        & .confirm-deletion-btn
        {
            color: #fff;
            background-color: red;
        }

        
    }
}

/* Edit Note Modal */
.edit-note-modal
{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 500px;
    width: 400px;
    padding: 40px;
    transition: top .3s ease-in;
    overflow: hidden;

    &[open]
    {
        top: 50%;
        transition: top .3s ease-in;
    }

    &::backdrop
    {
        backdrop-filter: blur(10px);
        transition: backdrop-filter .3s ease-in;
    }

    & form
    {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 60px;
        height: 100%;

        & div
        {
            font-family: inherit;
            display: inherit;
            flex-direction: inherit;
            gap: 10px;
        }

        & input
        {
            border: 1.5px solid #000;
            padding: 10px;
        }
        
        & input,
        & textarea
        {
            font-family: inherit;
            transition: box-shadow .15s ease-in;

            &:focus
            {
                box-shadow: inset var(--box-shadow);
                transition: box-shadow .15s ease-in;
            }
        }

        & textarea
        {
            height: 150px;
            border: 1.5px solid #000;
            text-indent: 10px;
            padding-top: 10px;
            
        }

        & .edit-note-btn
        {
            font-family: inherit;
            color: #fff;
            background-color: #000;
            padding: 10px;
            font-size: 17px;
            margin-top: -20px;
            box-shadow: var(--box-shadow);
            cursor: pointer;
        }
    }
}